server {
    listen       80;
    listen       443 ssl;
    server_name  {vvv_hosts};
    root         {vvv_path_to_site}/public_html;

    # Nginx logs
    error_log    {vvv_path_to_site}/log/error.log;
    access_log   {vvv_path_to_site}/log/access.log;

    # This is needed to set the PHP being used
    set          $upstream {upstream};

    {{TLS_CERT}}
    {{TLS_KEY}}

    # Nginx rules for WordPress, rewrite rules, permalinks, etc
    include      /etc/nginx/nginx-wp-common.conf;

    # Directives to send expires headers and turn off 404 error logging.
    location ~* \.(js|css|png|jpe?g|gif|ico)$ {
        expires 24h;
        log_not_found off;
        try_files $uri $uri/ @production;
    }

    # Where our CDN is
    location @production {
        resolver 8.8.8.8;
        proxy_pass https://z65ovrxjio4asccx3admgs10-wpengine.netdna-ssl.com/$uri;
    }
}
